#XfceNotifyWindow {
  border: 1px solid #1A1919;
  border-radius: 5px;
  background-color: #333333;
}

#XfceNotifyWindow box.vertical > label#summary { color: #eee; font-weight: 700; }

#XfceNotifyWindow box.vertical > label#body { color: #eee; }
