// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant == 'light', #f8f8f8, #333640);
$bg_color: if($variant == 'light', #f3f3f3, #2E3038);
$fg_color: if($variant == 'light', #2e2e2e, #eeeeee);

// prepare for shell theme light version
$dark_base_color: #333640;
$dark_bg_color: #2E3038;
$dark_fg_color: #eeeeee;

$dark_borders_color: darken($dark_bg_color, 10%);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', #3584e4, #1c71d8);
$selected_borders_color: if($variant=='light', darken($selected_bg_color, 30%),
                                               darken($selected_bg_color, 20%));
$borders_color: if($variant == 'light', darken($bg_color, 25%), darken($bg_color, 10%));
$borders_edge: if($variant =='light', white, transparentize($fg_color, 0.9));
$link_color: if($variant == 'light', darken($selected_bg_color,10%),
                                     lighten($selected_bg_color,20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color,20%),
                                     lighten($selected_bg_color,10%));
$top_hilight: $borders_edge;

$warning_color: #ff7800;
$error_color: if($variant == 'light', #ed333b, #e01b24);
$success_color: if($variant == 'light', #33d17a, #2ec27e);
$destructive_color: $error_color;

$osd_fg_color: #eeeeec;
$osd_bg_color: #2e3038;
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.9);

$tooltip_borders_color: $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);
