// Gnome-shell extensions styling, especially for Dash-to-dock and Dash-to-panel
// NEEDS HELP TO MAKE IT PERFECT

#dashtodockContainer {
	.app-well-app-running-dot {
		width: 8px;
  	height: 2px;
		margin: -1px;
	}

	.app-well-app.focused .overview-icon {
		background-color: rgba(white, 0.08);
	}

	.show-apps {
		.show-apps-icon {
			background-color: transparentize(black, 0.5);
			color: transparentize(white, 0.2);
			border-radius: 3px;
		}

		&:hover .show-apps-icon {
			background-color: transparentize(black, 0.35);
		}

		&:checked .show-apps-icon {
			background-color: $selected_bg_color;
			color: white;
		}

		&:hover .overview-icon,
		&:active .overview-icon,
		&:checked .overview-icon {
			background-color: transparent;
		}
	}
}

@each $pos, $padding, $radius in ('.top', '0 4px', '0'),
																 ('.bottom', '0 4px', '0'),
																 ('.left', '4px', '3px'),
																 ('.right', '4px', '3px') {
	#dashtodockContainer#{$pos} {
		.dash-item-container > StWidget {
			padding:  #{$padding};
		}

		.app-well-app .overview-icon,
		.show-apps .overview-icon {
			border: 0;
			border-radius: #{$radius};
		}
	}
}


#panel.dashtopanelMainPanel {
	.show-apps .overview-icon {
		padding: 3px;
	}
}
