$version: 3.30;
$variant: 'light';
$light-panel: 'true';

@import "../../gnome-shell/sass/_colors"; //use gtk colors
@import "../../gnome-shell/sass/_drawing";
@import "../../gnome-shell/sass/_common";
@import "../../gnome-shell/sass/_extensions";
