// Gnome-shell extensions styling, especially for Dash-to-dock and Dash-to-panel
// NEEDS HELP TO MAKE IT PERFECT

/* Dash to dock */
#dashtodockContainer {
	.dash-item-container {
		.app-well-app-running-dot {
			width: 4px;
  		height: 4px;
			margin: 1px;
			border-radius: 32px;

			background-color: if($variant == 'light', rgba(black, 0.5), rgba(white, 0.5));
		}

		> StWidget.focused .app-well-app-running-dot {
			//width: 16px;
			background-color: $fg_color;
		}

		.show-apps .show-apps-icon {
			color: if($variant == 'light', rgba($fg_color, 0.75), rgba($dark_fg_color, 0.9));
			background-color: if($variant == 'light', rgba(white, 0.5), rgba(black, 0.3));
			box-shadow: inset 0 0 0 1px if($variant == 'light', rgba(black, 0.4), $borders_color);
			border-radius: 3px;
		}

		.show-apps:hover .show-apps-icon {
			color: if($variant == 'light', $fg_color, $dark_fg_color);
			background-color: if($variant == 'light', rgba(white, 0.65), rgba(black, 0.15));
		}

		.show-apps:checked .show-apps-icon {
			color: if($variant == 'light', $fg_color, $selected_fg_color);
			background-color: if($variant == 'light', rgba(black, 0.1), $accent_primary);
			box-shadow: inset 0 0 0 1px if($variant == 'light', rgba(black, 0.4), $borders_color);
		}

		.app-well-app .overview-icon StIcon { icon-shadow: 0 1px 2px 1px rgba(black, 0.2); }

		.app-well-app .overview-icon,
		.show-apps .overview-icon {
			padding: 6px;
			background-color: transparent;
			box-shadow: none;
		}

		.app-well-app:hover .overview-icon {
			background-color: if($variant == 'dark' and $light-panel == 'false', rgba(white, 0.10), rgba(black, 0.10));
		}

		.app-well-app.focused .overview-icon {
			background-color: if($variant == 'dark' and $light-panel == 'false', rgba(white, 0.15), rgba(black, 0.15));
		}
	}
}

@each $pos, $padding, $radius, $dash_radius, $margin_pos in ('top', '0 4px', '0', '0 0 5px 5px', 'bottom'),
																 				 										('bottom', '0 4px', '0', '5px 5px 0 0', 'top'),
																 			 	 										('left', '4px', '3px', '0 5px 5px 0', 'right'),
																 			 	 										('right', '4px', '3px', '5px 0 0 5px', 'left') {
	#dashtodockContainer.#{$pos} {
		#dash {
			border: 1px solid if($variant == 'light', rgba(black, 0.22), $borders_color);
			border-#{$pos}-width: 0;
			background-color: rgba($bg_color, 0.75);
			background-clip: border-box;
			box-shadow: inset 0 1px $top_hilight;
			border-radius: #{$dash_radius};
		}

		&.extended #dash {
			border-radius: 0;
		}

		&.transparent #dash,
		&.opaque #dash {
			border: 1px solid if($variant == 'light', rgba(black, 0.22), $borders_color);
			background-clip: border-box;
		}

		.dash-item-container > StWidget {
			padding: #{$padding};
		}

		.app-well-app .overview-icon,
		.show-apps .overview-icon {
			border: 0;
			border-radius: #{$radius};

			@if $version > 3.31 {
				margin-#{$margin_pos}: 1px;
			}
		}
	}
}

/* Dash to Panel */
/* NOTE: new version of DtP seems ignores image asset, only works in old version */
/* or version that before panel opacity customization feature introduced */
#panel.dashtopanelMainPanel {
	background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
	&.dashtopanelTop {
		@if ($version > 3.25) and ($version < 3.31) {
			border-image: url("assets/panel-top.svg") 4;
			border-bottom: 1px solid transparent;
		}
		@else {
			border-image: url("assets/panel-top.svg") 4;
			border-bottom: 1px solid transparent;
		}

		StButton.show-apps {
			&:hover {
				background-color: rgba(0,0,0,0.01);
				box-shadow: inset 0 2px 0px if($light-panel == 'false', rgba($dark_fg_color, 0.75), rgba($fg_color, 0.5));
			}

			&:active, &:overview, &:focus, &:checked {
				background-color: rgba(0,0,0,0.01);
				box-shadow: inset 0 2px 0px if($light-panel == 'false', $accent_primary, $fg_color);
			}
		}

		@if ($version > 3.25) and ($version < 3.31) {
			&.solid {
				border-image: url("assets/panel-top.svg") 4;
				border-bottom: 1px solid transparent;
			}
		}
	}

	&.dashtopanelBottom {
		@if ($version > 3.25) and ($version < 3.31) {
			border-image: url("assets/panel-bottom.svg") 4;
			border-top: 1px solid transparent;
		}
		@else {
			border-image: url("assets/panel-bottom.svg") 4;
			border-top: 1px solid transparent;
		}

		.panel-button {
			&:hover {
				box-shadow: inset 0 -2px 0px if($light-panel == 'false', rgba($dark_fg_color, 0.75), rgba($fg_color, 0.5));
			}
			&:active, &:overview, &:focus, &:checked {
				box-shadow: inset 0 -2px 0px if($light-panel == 'false', $accent_primary, $fg_color);
			}
		}

		StButton.show-apps {
			&:hover {
				background-color: rgba(0,0,0,0.01);
				box-shadow: inset 0 -2px 0px if($light-panel == 'false', rgba($dark_fg_color, 0.75), rgba($fg_color, 0.5));
			}

			&:active, &:overview, &:focus, &:checked {
				background-color: rgba(0,0,0,0.01);
				box-shadow: inset 0 -2px 0px if($light-panel == 'false', $accent_primary, $fg_color);
			}
		}

		@if ($version > 3.25) and ($version < 3.31) {
			&.solid {
				border-image: url("assets/panel-bottom.svg") 4;
				border-top: 1px solid transparent;
			}
		}
	}

	#dashtopanelScrollview {
    padding: 0;

    .app-well-app {
      &:focus .dtp-container {
        background-color: if($light-panel == 'true', rgba(black, 0.10), rgba(white, 0.10));
      }

      &:active .dtp-container {
        background-color: if($light-panel == 'true', rgba(black, 0.15), rgba(white, 0.15));
      }

      // unfocused dot(s)
      .app-well-app-running-dot { background-color: if($light-panel == 'true', rgba(black, 0.5), rgba(white, 0.5)); }
      // focused dot(s)
      &.focused .app-well-app-running-dot { background-color: if($light-panel == 'true', $fg_color, $dark_fg_color); }
    }
  }

	.show-apps {
		show-apps-icon, .overview-icon {
			color: if($light-panel == 'true', $fg_color, $dark_fg_color);
			background-color: transparent;
		}

		&:hover .show-apps-icon,
		&:active .show-apps-icon,
		&:checked .show-apps-icon {
			color: if($light-panel == 'true', $fg_color, $dark_fg_color);
		}

		&:hover .overview-icon,
		&:active .overview-icon,
		&:checked .overview-icon {
			background-color: transparent;
		}
	}
}
