// Gnome-shell extensions styling, especially for Dash-to-dock and Dash-to-panel
// NEEDS HELP TO MAKE IT PERFECT

/* Dash to dock */
#dashtodockContainer {
	.dash-item-container {
		.app-well-app-running-dot {
			width: 6px;
  		height: 2px;
			margin: 0px;
			border-radius: 32px;

			background-color: if($variant == 'light', rgba(black, 0.6), rgba(white, 0.6));
		}

		> StWidget.focused .app-well-app-running-dot {
			width: 16px;
			background-color: $fg_color;
		}

		.app-well-app .overview-icon,
		.show-apps .overview-icon {
			padding: 4px;
		}

		.app-well-app:hover .overview-icon {
			background-color: if($variant == 'dark' and $light-panel == 'false', rgba(white, 0.05), rgba(black, 0.05));
		}

		.app-well-app.focused .overview-icon {
			background-color: if($variant == 'dark' and $light-panel == 'false', rgba(white, 0.15), rgba(black, 0.15));
		}
	}
}

@each $pos, $padding, $radius, $image, $margin_pos in ('.top', '4px 6px', '3px', 'top', 'bottom'),
																 				 							('.bottom', '4px 6px', '3px', 'bottom', 'top'),
																 			 	 							('.left', '6px 4px', '3px', 'left', 'right'),
																 			 	 							('.right', '6px 4px', '3px', 'right', 'left') {
	#dashtodockContainer#{$pos} {
		#dash {
			border-image: url("assets/dash/dash-#{$image}.svg") 7;
			border: 1px solid transparent;
			border-#{$image}-width: 0;
		}

		&.extended #dash {
			border-image: url("assets/dash/dash-#{$image}-extended.svg") 7;
		}

		.dash-item-container > StWidget {
			padding: #{$padding};
		}

		.app-well-app .overview-icon,
		.show-apps .overview-icon {
			border: 0;
			border-radius: #{$radius};

			@if $version > 3.31 {
				margin-#{$margin_pos}: 1px;
			}
		}
	}
}

/* Dash to Panel */
/* NOTE: new version of DtP seems ignores image asset, only works in old version */
/* or version that before panel opacity customization feature introducted */
#panel.dashtopanelMainPanel {
	&.dashtopanelTop {
		@if ($version > 3.25) and ($version < 3.31) {
			border-image: url("assets/panel-top.svg") 4;
		}
		@else {
			border-image: url("assets/panel-top.svg") 4;
		}

		@if ($version > 3.25) and ($version < 3.31) {
			&.solid {
				border-image: url("assets/panel-top.svg") 4;
			}
		}
	}

	&.dashtopanelBottom {
		@if ($version > 3.25) and ($version < 3.31) {
			border-image: url("assets/panel-bottom.svg") 4;
		}
		@else {
			border-image: url("assets/panel-bottom.svg") 4;
		}

		.panel-button {
			&:active, &:overview, &:focus, &:checked {
				box-shadow: inset 0 -2px 0px lighten($selected_bg_color,5%);
			}
		}

		@if ($version > 3.25) and ($version < 3.31) {
			&.solid {
				border-image: url("assets/panel-bottom.svg") 4;
			}
		}
	}

	.show-apps .overview-icon {
		color: if($light-panel == 'false', $dark_fg_color, $fg_color);
		border: 0;
	}

	.show-apps:hover .overview-icon {
		background-color: if($light-panel == 'false', rgba(white, 0.03), rgba(black, 0.05));
	}
}
