// When color definition differs for dark and light variant
// it gets @if ed depending on $variant


$base_color: if($variant == 'light', #ffffff, #333640);
$text_color: if($variant == 'light', black, white);
$bg_color: if($variant == 'light', #fafafa, #2E3038);
$fg_color: if($variant == 'light', #2e2e2e, #eeeeee);

// required for some widgets
$inverse_bg_color: #fafafa;
$inverse_base_color: #ffffff;

// dark-only colors, prep for dark titlebar version
$dark_bg_color: #2E3038;
$dark_base_color: #333640;

$dark_fg_color: #eeeeee;
$dark_text_color: #ffffff;

$dark_borders_color: darken($dark_bg_color, 10%);
$dark_headerbar_color: darken($dark_bg_color, 2%);

// WM colors
$wm_bg_a: if($variant == 'light', darken($bg_color, 2%), lighten($bg_color, 8%));
$wm_bg_b: if($variant == 'light', darken($bg_color, 6%), lighten($bg_color, 4%));

$wm_backdrop_bg_a: if($variant == 'light', $bg_color, lighten($bg_color, 4%));
$wm_backdrop_bg_b: if($variant == 'light', darken($bg_color, 4%), lighten($bg_color, 2%));

$selected_fg_color: #ffffff;
$selected_bg_color: #3689e6;
$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));
$borders_color: if($variant == 'light', darken($bg_color, 25%), darken($bg_color, 10%));
$alt_borders_color: if($variant == 'light', darken($bg_color, 35%), darken($bg_color, 17%));
$borders_edge: if($variant == 'light', transparentize(white, 0.2), transparentize($fg_color, 0.93));
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), lighten($selected_bg_color, 10%));
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 50%);
$headerbar_color: if($variant == 'light', lighten($bg_color, 2%), darken($bg_color, 2%));
$menu_color: if($variant == 'light', $base_color, mix($bg_color, $base_color, 20%));
$popover_bg_color: $bg_color;
$popover_hover_color: darken($bg_color, 8%);

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));

$warning_color: #f37329;
$error_color: #c6262e;
$success_color: #68b723;
$destructive_color: if($variant == 'light', #ed5353, $error_color);

$osd_fg_color: #eeeeec;
$osd_text_color: white;
$osd_bg_color: darken(#2E3038, 10%);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.15);

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: #4e9a06;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
