// 3rd-party apps, DE apps, etc.

// Thunar
.thunar {
  :backdrop { color: $insensitive_fg_color; }
  toolbar {
		border-bottom: none;

		// use non-symbolic icons
		// wish i can resize that damn symbolic toolbar icon to 16px
		-gtk-icon-style: regular;
	}

  .sidebar.frame { border-top: 1px solid $borders_color; }
}

// Xfce4-panel (gtk3)
.xfce4-panel.background {
	background-color: $dark_bg_color;
	color: $dark_fg_color;

	button {
		padding: 0 1px;
		color: $dark_fg_color;
		border: none;
		border-radius: 0;
		-gtk-icon-shadow: none;

		&:hover, &:active, &:checked, &:active:hover, &:checked:hover {
			box-shadow: inset 0 -3px $selected_bg_color;
			background-color: transparent;
			border: none;
			background-image: none;
			transition: none;
		}
	}

  menu {
    -gtk-icon-effect: none;

    // Theme pulseaudio-plugin's mpris buttons
    .linked button {
      @extend %linked;
      @extend %button.osd;

    	&:disabled {
        @include button(osd-insensitive);
      }
    }
  }
}

// Vala panel
// Who use it for?? but styling is enough for us
// as a alternative for xfce4-panel or some WM session e.g openbox
window#ValaPanel.background {
	background-color: $dark_bg_color;
	color: $dark_fg_color;

  widget.-vala-panel-background > separator {
    background-color: $dark_base_color;
  }
}

button.flat.-panel-button,
button.flat.-panel-icon-button {
	min-width: 16px;
	min-height: 16px;
	border-radius: 0;
	color: $dark_fg_color;

	&:hover, &:active, &:checked, &:active:hover, &:checked:hover {
		box-shadow: inset 0 -3px $selected_bg_color;
		background-color: transparent;
		border: none;
		background-image: none;
		transition: none;
	}
}

.unpinned button.flat.-panel-icon-button,
.pinned button.flat.-panel-icon-button.running {
		border: 0;
		margin: 0;
		box-shadow: inset 0 -3px lighten($dark_base_color, 8%);

	&:hover, &:active, &:checked, &:active:hover, &:checked:hover {
		box-shadow: inset 0 -3px $selected_bg_color;
		background-color: transparent;
		border: none;
		background-image: none;
		transition: none;
	}
}


// LightDM gtk+ greeter (untested/experimental)
.lightdm-gtk-greeter {
  #panel_window menubar {
    color: $dark_fg_color;
    background-color: $dark_bg_color;
    border-bottom: 1px solid $dark_borders_color;
  }

	#login_window,
	#shutdown_dialog,
	#restart_dialog {
		background-color: transparent;
		color: $fg_color;
    // remove frame borders, it's ugly in light variant.
    border: none;
    border-radius: 5px;
    box-shadow: none;
    border-image: if($variant == 'light', -gtk-scaled(url("assets/lightdm-background.svg")),
                                           -gtk-scaled(url("assets/lightdm-background-dark.svg")))
                  10 / 10px stretch;

		button {
			&#login_button,
			&#restart_button {
				@extend %button.suggested-action;
			}

			&#shutdown_button {
				@extend %button.destructive-action;
			}
		}

    #content_frame {
      background-color: $bg_color;
      margin: 6px 6px 0 6px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: none;
    }

    #buttonbox_frame {
      background-color: $bg_color;
      margin: 0 6px 6px 6px;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      padding-top: 16px;
      padding-bottom: 0;
    }

    #greeter_infobar {
      margin-left: 8px;
      margin-right: 8px;
      // cosmetic border-radius :)
      border-radius: 3px;
      box-shadow: none;
    }
	}

	#login_window {
		combobox button.combo {
			@include button(undecorated);
      border-radius: 0;

      &:hover { box-shadow: inset 0 -3px $selected_bg_color; }
		}
	}
}

// MATE panel
PanelToplevel.background {
	background-color: $dark_bg_color;
	border: 1px solid $dark_borders_color;
}

#PanelWidget, #PanelPlug, #PanelApplet {
	color: $dark_fg_color;
	background-color: $dark_bg_color;
}

PanelSeparator {
	color: $dark_bg_color;
	border-width: 0;
  	background: none;
  	background-image: none;
}

.mate-panel-menu-bar {
	menubar,
  	#PanelApplet-window-menu-applet-button {
		color: $dark_fg_color;

		> menuitem {
			padding: 0 6px;
			&:hover { box-shadow: inset 0 -3px $selected_bg_color; }
		}
	}

	#tasklist-button,
  	#clock-applet-button,
  	#showdesktop-button {
		background-color: $dark_bg_color;
		color: $dark_fg_color;
		border-radius: 0;
		border: none;

		&:hover, &:active, &:checked, &:active:hover, &:checked:hover {
			box-shadow: inset 0 -3px $selected_bg_color;
			background-color: transparent;
			border: none;
			background-image: none;
			transition: none;
		}
	}
}

// Caja / MATE file manager
.caja-navigation-window {
	.caja-side-pane {
		scrolledwindow {
			border: 0;
		}

		notebook {
      		border-top: 1px solid $borders_color;

      		.frame { border: none; }
    	}
	}

	toolbar.primary-toolbar {
    	border-bottom: 1px solid $borders_color;
  	}

  	.caja-notebook { // remove lateral borders
    	&, .frame {
      		border-width: 1px 0 1px;
    	}

    	> header.top { // revive top-border when tabs are shown
      		border-top: 1px solid $borders_color;
    	}
  	}
}

// gnome-control-center (3.26) sidebar
scrolledwindow.view > viewport.frame > stack > list {
  background-color: $sidebar_bg_color;
  &:backdrop { background-color: $backdrop_sidebar_bg_color; }

  > row.activatable {
    padding: 0;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    &:selected {
      background-image: linear-gradient(to bottom,
                                        $selected_bg_color,
                                        darken($selected_bg_color, 1%),
                                        darken($selected_bg_color, 4%));
      border-color: if($variant == 'light', rgba(black, 0.22), $borders_color);
      box-shadow: inset 0 1px rgba(white, 0.25),
                  inset 0 0 0 1px rgba(white, 0.05),
                  inset 0 -1px rgba(white, 0.1);

      &:hover {
        background-image: linear-gradient(to bottom,
                                          lighten($selected_bg_color, 4%),
                                          lighten($selected_bg_color, 3%),
                                          $selected_bg_color);
      }

      &:active {
        background-color: darken($selected_bg_color, 4%);
        background-image: none;
        box-shadow: inset 0 0 0 1px rgba(black, 0.05);
      }

      &:backdrop {
        background-image: linear-gradient(to bottom,
                                          lighten($selected_bg_color, 2%),
                                          lighten($selected_bg_color, 1%),
                                          darken($selected_bg_color, 2%));
      }
    }
  }
}

// GNOME Tweaks
.tweak-categories {
  background-color: $sidebar_bg_color;
  &:backdrop { background-color: $backdrop_sidebar_bg_color; }

  separator.horizontal {
    min-height: 0;
    border-color: transparent;
    background-color: transparent;
  }
}

.tweak-category {
  background-color: transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  &:selected {
    background-image: linear-gradient(to bottom,
                                      $selected_bg_color,
                                      darken($selected_bg_color, 1%),
                                      darken($selected_bg_color, 4%));
    border-color: if($variant == 'light', rgba(black, 0.22), $borders_color);
    box-shadow: inset 0 1px rgba(white, 0.25),
                inset 0 0 0 1px rgba(white, 0.05),
                inset 0 -1px rgba(white, 0.1);

    &:hover {
      background-image: linear-gradient(to bottom,
                                        lighten($selected_bg_color, 4%),
                                        lighten($selected_bg_color, 3%),
                                        $selected_bg_color);
    }

    //FIXME :active state doesn't work

    &:backdrop {
      background-image: linear-gradient(to bottom,
                                        lighten($selected_bg_color, 2%),
                                        lighten($selected_bg_color, 1%),
                                        darken($selected_bg_color, 2%));
    }
  }
}
