// Help us styling budgie-desktop in this theme !
// code are derived from Arc (NicoHood x fossfreedom version) theme and
// some bits from Adapta, some bits written by me

.budgie-container {
	background-color: transparent;
	padding: 0;

	&:backdrop {
		background-color: transparent;
	}
}

.budgie-panel {
	background-color: if($light-panel == 'false', rgba(black, 0.9), rgba($bg_color, 0.7));
	color: if($light-panel == 'false', $dark_fg_color, $fg_color);

	text-shadow: none;

	.alert { color: $selected_bg_color; }

	&:backdrop {
		background-color: if($light-panel == 'false', rgba(black, 0.9), rgba($bg_color, 0.7));
		color: if($light-panel == 'false', $dark_fg_color, $fg_color);
	}

	&.transparent {
    background-color: if($light-panel == 'false', rgba(black, 0.3), rgba($bg_color, 0.3));

		text-shadow: none;
  }

	button {
		@include button(undecorated);
		border-radius: 0;
		border: none;

		text-shadow: none;
		-gtk-icon-shadow: none;

		.flat label {
			color: if($light-panel == 'false', $dark_fg_color, $fg_color);

			text-shadow: none;

			&:backdrop {
				color: if($light-panel == 'false', $dark_fg_color, $fg_color);

				text-shadow: none;
			}
		}

		label {
			color: if($light-panel == 'false', $dark_fg_color, $fg_color);

			text-shadow: none;

			&:backdrop {
				color: if($light-panel == 'false', $dark_fg_color, $fg_color);
				text-shadow: none;
			}
		}

		&:backdrop {
			color: if($light-panel == 'false', $dark_fg_color, $fg_color);
			text-shadow: none;
			-gtk-icon-shadow: none;
		}

		&:hover {
			box-shadow: inset 0 -3px if($light-panel == 'false', $dark_fg_color, $fg_color);
			background-color: transparent;
			border: none;
			background-image: none;
			transition: none;
		}

		&:active {
			box-shadow: inset 0 -3px $selected_bg_color;
			background-color: transparent;
			background-image: none;
			color: if($light-panel == 'false', $dark_fg_color, $fg_color);

			&:backdrop {
				box-shadow: inset 0 -3px $selected_bg_color;
				background-image: none;
				color: if($light-panel == 'false', $dark_fg_color, $fg_color);
			}

			label {
				color: if($light-panel == 'false', $dark_fg_color, $fg_color);

				&:backdrop { color: if($light-panel == 'false', $dark_fg_color, $fg_color); }
			}
		}

		&:checked {
			box-shadow: inset 0 -3px $selected_bg_color;
			background-color: transparent;
			background-image: none;
			color: if($light-panel == 'false', $dark_fg_color, $fg_color);

			&:backdrop {
				box-shadow: inset 0 -3px $selected_bg_color;
				background-image: none;
				color: if($light-panel == 'false', $dark_fg_color, $fg_color);
			}

			label {
				color: if($light-panel == 'false', $dark_fg_color, $fg_color);

				&:backdrop { color: if($light-panel == 'false', $dark_fg_color, $fg_color); }
			}
		}
	}
}

.budgie-clock-applet {
	label { color: if($light-panel == 'false', $dark_fg_color, $fg_color);
		&:backdrop { color: if($light-panel == 'false', $dark_fg_color, $fg_color); }
	}
}

@each $panel_pos, $border_pos in (top, bottom),
																 (bottom, top),
																 (left, right),
																 (right, left) {
	.#{$panel_pos} .budgie-panel {
		border-#{$border_pos}: 1px solid transparent;
	}
}

button.budgie-menu-launcher {
  padding: 0 2px;

  // i dislike how menu icons in budgie scaled
  // so i use image assets for menu icons (you can disable it by add double slash (//) in image node.
  image {
		background-image: -gtk-scaled(url("assets/budgie-menu-symbolic.svg"), url("assets/budgie-menu-symbolic@2.svg"));
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px;

		color: transparent;
  }
}

.budgie-panel {
	button.flat.launcher {
		padding: 0;
    border-radius: 0;
    border: none;

		-gtk-icon-shadow: none;

    > image {
      opacity: 0.87;
    }

    &:hover {
      // -gtk-icon-effect: highlight;

      > image { opacity: 1.0; }
    }
    &:active {
      > image { opacity: 1.0; }
    }
    &:checked {
      background-color: transparent;
			background-image: none;
      &:hover { -gtk-icon-effect: highlight; }

      > image { opacity: 1.0; }
    }
  }

  .unpinned button.flat.launcher,
  .pinned button.flat.launcher.running {
    &:hover { -gtk-icon-effect: highlight; }

    > image {
      background-size: 2px 2px;
      background-repeat: no-repeat;
      opacity: 1.0;
    }

    &:hover,
    &:active,
    &:checked {
			background-image: none;
      > image { background-image: none; }
    }
  }
}

@each $position, $_line in (top, 0 3px),
                           (bottom, 0 -3px),
                           (left, 3px 0),
                           (right, -3px 0) {
  .#{$position} .budgie-panel {
    button#tasklist-button,
    button.flat.launcher {
      &:hover {
        box-shadow: inset #{$_line} if($light-panel == 'false', lighten($dark_base_color, 12%), $fg_color);
        background-color: transparent;
        border: none;
      }
      &:active,
      &:checked, {
        box-shadow: inset #{$_line} $selected_bg_color;
      }
    }

    .unpinned button.flat.launcher,
    .pinned button.flat.launcher.running {
      > image {
        background-image: image($selected_bg_color);
        background-position: #{$position} center;
      }

			&:hover,
      &:active,
      &:checked {
        box-shadow: inset #{$_line} $selected_bg_color;
      }
    }
  }
}

// 10.5x icon task list
box:not(.unpinned):not(.pinned) > revealer > button.flat.launcher {
  &:hover,
  &:checked,
  &.running { box-shadow: none; } // unset before drawing indicators

  &:active {
    box-shadow: none;
  }
}

@each $position, $_line in (top, 0 3px),
                           (bottom, 0 -3px),
                           (left, 3px 0),
                           (right, -3px 0) {
  .#{$position} {
    box:not(.unpinned):not(.pinned) > revealer > button.flat.launcher {
      &:not(:checked):hover {
        box-shadow: inset #{$_line} if($light-panel == 'false', lighten($dark_base_color, 12%), $fg_color);
        &.running {
          box-shadow: inset #{$_line} $selected_bg_color;
        }
      }
    }
  }
}

.budgie-popover {
  border-radius: 5px;
  background-color: $popover_bg_color;
	box-shadow: 0 1px 2px transparentize(black, 0.7);
	border: 1px solid $borders_color;

	.container { padding: 0px; }

	border { border: none; }

  list { background-color: transparent; }

  row {
    padding: 0;

    &:hover { box-shadow: none; }
  }

  &:not(.budgie-menu) button.flat:not(.image-button) {
    min-height: 24px;
    padding: 0 8px;
    color: $fg_color;
    font-weight: normal;

		&:backdrop { color: $fg_color; }

    &:disabled { color: $insensitive_fg_color; }
  }

  &.budgie-menu {
    .container { padding: 0; }
  }

  &.user-menu {
    .container { padding: 8px; }

    separator { margin: 4px 0; }
  }

  &.sound-popover {
    separator { margin: 3px 0; }
  }

  &.night-light-indicator {
    .container { padding: 8px; }
  }

  &.workspace-popover {
    .container { padding: 2px 8px 8px; }

    separator { margin: 4px 0; }

    flowboxchild { padding: 0; }
  }
}

.budgie-menu {
  &.background {
    padding: 0;
    background-color: $base_color;
  }

  scrollbar,
  entry.search { background-color: transparent; }

  entry.search {
    border-style: none;
    border-bottom: 1px solid $borders_color;
    border-radius: 1px;
    box-shadow: none;
    font-size: 120%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  button {
    @extend row.activatable;
    min-height: 32px;
    padding: 0 8px;
    border-radius: 0;
    color: $fg_color;
		background-image: none;
		border: 0;
		box-shadow: none;

		-gtk-icon-shadow: none;

		transition: none;

		&:active, &:checked {
			background-color: $selected_bg_color;
			color: $selected_fg_color;
		}
  }

  row {
    padding: 0;

    &:hover { box-shadow: none; }
  }
}

// Raven
frame.raven-frame > border {
  border-style: none;
  box-shadow: 0 3px 9px 1px transparentize(black, 0.5),
							0 0 0 1px if($variant=='light', transparentize(black, 0.77), transparentize($borders_color, 0.1)); // draws border with box-shadow
}

$raven_borders: ((top, bottom), (bottom, top), (left, right), (right, left));

@each $pos, $b_pos in $raven_borders {
  // Raven borders
  .#{$pos} frame.raven-frame > border {
    margin-#{$b_pos}: 32px;
    border-#{$b_pos}: 0; // deprecated, now we draws border with box-shadow
  }
}

.raven {
  background-color: $bg_color;
  color: $fg_color;
  padding: 0;
  border: none;

  .raven-header {
    min-height: 26px;

    &:not(.top) {
			margin-top: -6px;
			padding-bottom: 2px;
		}

		&.top {
      padding: 4px 12px;
      color: $fg_color;
			border-bottom: 1px solid $borders_color;

      @include headerbar_fill;
		}

		&.bottom { border-top: 1px solid $borders_color; }
	}

  .raven-background {
    border-style: solid none;
    border-width: 1px;
    border-color: $borders_color;
    background-color: $base_color;
	}
}

.powerstrip {
	background-color: $dark_fill;
	box-shadow: inset 0 1px rgba(black, 0.05);
}

calendar.raven-calendar {
  // padding: 3px;
  border-style: none;
  background-color: transparent;

  &:selected {
    border-radius: 2px;
    background-color: $selected_bg_color;
  }
}

.raven-mpris {
  background-color: rgba($dark_bg_color, 0.8);
  color: $dark_fg_color;

  label { min-height: 24px; }

  button.image-button {
		@include button(osd-normal);
		color: $dark_fg_color;

		&:hover { @include button(osd-hover); }
		&:active { @include button(osd-active); }

		&:disabled {
			color: $osd_insensitive_fg_color;
			@include button(osd-insensitive);
		}
	}
}

// Notifications
.budgie-notification-window {
  background-color: transparent;
  &:backdrop { background-color: transparent; }
}

.budgie-notification {
  .notification-title { font-size: 110%; color: $fg_color; }
  .notification-body { @extend .dim-label; color: $fg_color; }
}

.budgie-osd-window {
  @extend .budgie-notification-window;
}

.budgie-osd {
  @extend .budgie-notification;
  .budgie-osd-text { font-size: 120%; }
}

.budgie-switcher-window {
  @extend .budgie-notification-window;

  &:backdrop { @extend .budgie-notification-window; }
}

.budgie-switcher {
  @extend .budgie-notification;
}

.drop-shadow {
  margin: 5px 9px;
  padding: 3px;
  border-radius: 3px;
  box-shadow:
		0 3px 3px rgba(0, 0, 0, 0.16),
		0 3px 3px rgba(0, 0, 0, 0.23),
		inset 0 0 0 1px if($variant=='light', transparentize(black, 0.77), transparentize($borders_color, 0.1)); // dreaming.....
  background-color: $bg_color;
}

%budgie_dialog {
	border-radius: 5px;
	background-color: $bg_color;

  decoration { border-radius: 4px; }
}

.budgie-session-dialog {
  @extend %budgie_dialog;

  label:not(:last-child),
  .dialog-title { font-size: 120%; }
}

.budgie-session-dialog,
.budgie-polkit-dialog {
  .linked.horizontal > button {
    padding: 4px;
    border-top: 1px solid $borders_color;
    border-radius: 0;

    // Workaround for suggested and destructive action buttons
    // which is used in some areas
    @each $b_type, $b_color in (suggested-action, $selected_bg_color),
                             (destructive-action, $destructive_color) {
			&.#{$b_type} {
				border-color: if($variant == 'light', darken($b_color, 20%), darken($b_color, 45%));
			}
		}

		margin-bottom: 6px;

    &:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			margin-left: 6px;
		}

    &:last-child {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			margin-right: 6px;
		}
  }
}


.budgie-polkit-dialog {
  @extend %budgie_dialog;

  .message { color: $fg_color; }

  .failure { color: $destructive_color; }
}

.budgie-run-dialog {
  @extend %budgie_dialog;

  background-color: $base_color;

  entry.search {
		margin: 10px;
		border-radius: 3px;
	}

	scrolledwindow { border-top: 1px solid $borders_color; }
}

.budgie-panel > box > widget > separator {
  background-color: $dark_borders_color;
}
