// When color definition differs for dark and light variant
// it gets @if ed depending on $variant
@import 'palette';

$base_color: if($variant == 'light', #f8f8f8, #30333D);
$text_color: if($variant == 'light', black, white);
$bg_color: if($variant == 'light', #f3f3f3, #2E3038);
$fg_color: if($variant == 'light', #282828, #eeeeee);

// not used, but it will be used someday
// $lighter_bg_color: if($variant == 'light', #fafafa, lighten(#2E3038, 4%));

// required for some widgets
$inverse_bg_color: #f3f3f3;
$inverse_base_color: #ffffff;

$inverse_fg_color: #282828;

// dark-only colors, prep for dark titlebar version
$dark_bg_color: #2E3038;
$dark_base_color: #333640;

$dark_fg_color: #eeeeee;
$dark_text_color: #ffffff;

$dark_borders_color: darken($dark_bg_color, 10%);
$dark_headerbar_color: darken($dark_bg_color, 2%);

// WM colors
$wm_bg_a: if($variant == 'light', darken($bg_color, 6%), lighten($bg_color, 2%));
$wm_bg_b: if($variant == 'light', darken($bg_color, 10%), darken($bg_color, 2%));

$wm_backdrop_bg_a: if($variant == 'light', darken($bg_color, 2%), lighten($bg_color, 4%));
$wm_backdrop_bg_b: if($variant == 'light', darken($bg_color, 6%), $bg_color);

// Accent color
$accent_primary: $BLUEBERRY_500;
$accent_secondary: $BLUEBERRY_300;
$accent_tertiary: $BLUEBERRY_100;

$selected_fg_color: #ffffff;
$selected_borders_color: if($variant== 'light', darken($accent_primary, 30%), darken($accent_primary, 20%));
$borders_color: if($variant == 'light', darken($bg_color, 25%), darken($bg_color, 10%));
$alt_borders_color: if($variant == 'light', darken($bg_color, 35%), darken($bg_color, 17%));
$borders_edge: if($variant == 'light', transparentize(white, 0.4), transparentize($fg_color, 0.93));
$link_color: if($variant == 'light', darken($accent_primary, 10%), lighten($accent_primary, 20%));
$link_visited_color: if($variant == 'light', darken($accent_primary, 20%), lighten($accent_primary, 10%));
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 50%);
$headerbar_color: darken($bg_color, 2%);
$menu_color: if($variant == 'light', $base_color, mix($bg_color, $base_color, 20%));
$popover_bg_color: $bg_color;
$popover_hover_color: darken($bg_color, 8%);

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($accent_primary, 10%), lighten($accent_primary, 10%));

$warning_color: $BANANA_500;
$error_color: $STRAWBERRY_500;
$success_color: $LIME_500;
$destructive_color: lighten($error_color, 8%);

$osd_fg_color: #eeeeec;
$osd_text_color: white;
$osd_bg_color: darken(#2E3038, 10%);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.15);

$sidebar_bg_color: if($variant == 'light', lighten($dark_fill, 6%), darken($bg_color, 2%));
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: #4e9a06;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 20%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: if($variant == 'light', lighten($dark_fill, 8%), darken($bg_color, 1.5%));

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
