// gnome stuff only

// Nautilus

.nautilus-window {
  & notebook,
  & notebook > stack {
    background: $base_color;
  }

  .floating-bar {
    padding: 1px;
    background-color: $base_color;
    border-width: 1px;
    border-style: solid solid none;
    border-color: $borders_color;
    border-radius: 3px 3px 0 0;

    &.bottom.left {
      border-left-style: none;
	    border-top-left-radius: 0;
    }

    &.bottom.right {
      border-right-style: none;
	    border-top-right-radius: 0;
    }

    &:backdrop {
      background-color: $backdrop_base_color;
      border-color: $backdrop_borders_color;
    }
  }

  // Nautilus 3.30 pathbar styling
  @if $nautilus_ver > 3.29 {
    .path-bar {
      button {
        border-color: transparent;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border-radius: 0px;
        border-width: 0px;
        margin: 0px;
        padding: 0 2px;

        &:not(:checked) label,
        &:not(:checked) image { opacity: 0.6; }

        &:not(:backdrop):hover {
          background-color: if($variant == 'light', rgba(black, 0.15), rgba(white, 0.15));
          background-image: none;
        }

        &:checked,
        &:checked:backdrop {
          background-color: transparent;
          background-image: none;
          box-shadow: none;
          border-color: transparent;
        }
      }
    }

    // 3.32
    .nautilus-path-bar button {
      @include button(undecorated);
      margin: 0px;

      &:hover { @include button(hover); }
      &:active { @include button(active); }

      label { padding: 0; }

      &:last-child:dir(ltr),
      &:first-child:dir(rtl) {
        @include button(active);
        box-shadow: inset 0 0 0 1px rgba(black, 0.05); //override box-shadow

        &:backdrop {
          @include button(backdrop-active);
          box-shadow: inset 0 0 0 1px rgba(black, 0.05); //override box-shadow
        }
      }
    }

    .path-bar-box {
      @include entry(normal);
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      min-height: 24px;

      &:backdrop {
        @include entry(backdrop);
      }

      // 3.32
      button:first-child {
        border-radius: 3px 0px 0px 3px;
        border-width: 0px 1px 0px 0px;
      }

      button:not(:first-child) {
        border-width: 0px 1px 0px 1px;
        border-radius: 0px 0px 0px 0px;
      }
    }
  }

  // Nautilus desktop icons for Nautilus 3.26 actually
  @else {
    .nautilus-desktop.nautilus-canvas-item {
      color: $selected_fg_color;
      text-shadow: 1px 1px black;

      &:active,
      &:hover,
      &:selected {
        color: $selected_fg_color;
        text-shadow: none;
      }

      &:selected:backdrop {
        color: $backdrop_fg_color;
      }
    }
  }
}

// gedit fixes
overlay > box.vertical > paned.horizontal > box.vertical {
  statusbar {
    border-top: 1px solid $borders_color;
  }
}

.gedit-search-slider {
    background-color: $base_color;
    padding: 6px;
    border-color: $borders_color;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.gedit-search-entry-occurrences-tag {
    background-color: transparent;
    background-image: none;
    color: $fg_color;
    border: 0px;
    margin: 2px;
    padding: 2px;
    box-shadow: none;
}

// Epiphany browser: Incognito mode
// In epiphany 3.28/older, I can't override incognito-mode titlebar
// because it's hardcoded, but now it's changed since 3.30 release
headerbar.titlebar.incognito-mode,
.incognito-mode headerbar {
    // FIXME: background-image can't be used, so use background-color instead.
    background-color: darken($headerbar_color, 6%);

	@if $variant == 'light' {
    background-color: darken($headerbar_color, 10%);
		entry {
      box-shadow: inset 0 1px rgba(black, 0.05), 0 1px transparentize(white, 0.6);
      border-color: transparentize(black, 0.77);
    }
	}

    &:backdrop { background-color: darken($headerbar_color, 4%); }
}
