// gnome stuff only

// Nautilus

.nautilus-window,
.nautilus-window notebook,
.nautilus-window notebook > stack {
  background: $base_color;
}

.floating-bar {
  padding: 1px;
  background-color: $base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $borders_color;
  border-radius: 3px 3px 0 0;
  
  &.bottom.left {
    border-left-style: none;
	border-top-left-radius: 0;
  }
  
  &.bottom.right {
    border-right-style: none;
	border-top-right-radius: 0;
  }
  
  &:backdrop {
    background-color: $backdrop_base_color;
    border-color: $backdrop_borders_color;
  }
}

// Nautilus 3.30
// import code from upstream
.nautilus-window {
  .path-bar button {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
        -gtk-icon-shadow: none;
      padding: 4px;
    border-width: 0px;
      margin: 0px;
  }

  .path-bar button:not(:checked) image { opacity: 0.8; } /* dim the icon when not checked */

  .path-bar button:not(:backdrop):hover { box-shadow: inset 0 -3px $selected_bg_color; }

  .path-bar button:checked:backdrop {
    background: none;
    background-color: transparent;
    border-color: $borders_color;
    box-shadow: none;
  }

  .path-bar-box { 
    @include entry(normal); 
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    &:backdrop {
      @include entry(backdrop);
    }
  }
}

// gnome-control-center (3.26) sidebar
scrolledwindow.view > viewport.frame > stack > list { 
  > row.activatable {
    padding: 0;
  }
}

// gedit fixes
statusbar {
    border-top: 1px solid $borders_color;
}

.gedit-search-slider {
    background-color: $base_color;
    padding: 6px;
    border-color: $borders_color;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.gedit-search-entry-occurrences-tag {
    background-color: transparent;
    background-image: none;
    color: $fg_color;
    border: 0px;
    margin: 2px;
    padding: 2px;
    box-shadow: none;
}

// Epiphany browser: Incognito mode
headerbar.titlebar.incognito-mode {
    // FIXME: background-image can't be used, so use background-color instead.
    background-color: darken($headerbar_color, 4%);

    &:backdrop { background-color: darken($headerbar_color, 2%); }
}